.my-default-btn {
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  font-family: "SFProDisplay", "Arial", sans-serif;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);

  padding: 8px 16px;
  outline: 0;
  border: 1px solid #666;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    border-color: #222;
    color: #000;
  }
  &:active {
    box-shadow: 0 0 10px 1px rgba(136, 136, 136, 0.2);
  }
}

.small-btn {
  padding: 4px 8px;
}

.cta-btn {
  min-width: 200px;
  background-color: #222;
  color: #fff;
  border-radius: 4px;
  &:hover {
    border-color: #222;
    background-color: #fff;
    color: #222;
  }
}
