
.login-form {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 26px;
    text-align: center;
    font-weight: 700;
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    span {
      font-size: 15px;
      font-weight: 500;
    }
  }

  .err-span {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);

    color: red;
    font-style: italic;
    font-size: 14px;
  }

  .err-span + &__input {
    border: 1px solid red;

    &:focus {
      border: 1px solid red;
      outline: none;
    }
  }

  &__input {
    padding: 5px 15px;
    font-size: 14px;
    line-height: 18px;
    outline: none;
    border: 1px solid #666;
    width: 100%;

    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.5);
      outline: 1px solid rgba(0, 0, 0, 0.5);
    }
  }

  &__pasInputBtn {
    position: absolute;
    bottom: 6px;
    right: 15px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  &__submit-btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    span {
      cursor: pointer;
      line-height: 1.5;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__submit-btn {
    margin-top: auto;
  }
}

@media (min-width: 768px) {
  .login-form {
    height: 90%;
  }
}
