

.site-logo {
  display: flex;
  align-items: center;
  width: 40px;
  gap: 2px;
  cursor: pointer;

  &__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
  }
  @for $i from 1 through 3 {
    &__circle:nth-child(#{$i}) {
      flex-shrink: $i - 1;
      //height: 20px - ($i * 1px);
    }
  }
}
